<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi saepe quibusdam assumenda, soluta voluptatum cum nobis sint velit expedita repellat neque tenetur numquam aliquid labore a ea dolores enim magnam.</p>
<img src="https://i.ibb.co/mTV6fLH/Captura-de-pantalla-2023-06-05-082136.png" alt="Captura-de-pantalla-2023-06-05-082136">
<a href='@Url.Action("Habitacion")'>volver</a>