<p>Encontraste un papel viejo. El papel revela que la contraseña para salir es la que esta en el pizarron aplicando un cifrado cesar de cambio 5</p>
<img src="~/imgs/carta.png" alt="carta">
<a href='@Url.Action("VolverCarta")'>volver</a>