<p>Encontraste un papel viejo pegado cerca del techo.</p>


<div id="cartatext">
    <div id="coso">
    <img src="~/imgs/carta.png" alt="carta" id="carta1">
    <p class="papelmsg">La forma de salir esta frente a tus ojos,</p>
    <p class="papelmsg" id="txt2">Aunque el emperador <a id="cesar" target="_blank" href="https://es.planetcalc.com/1434/">cesar</a> la ha encriptado. 1, 2, 3, 4, 5.</p>
    </div>
</div>
<br>
<a href='@Url.Action("VolverCarta")'>volver</a>