<h1>SALA DE ESCAPE: INFO</h1>

<h2>Produccion:</h2>
<h3>Zarek</h3>
<h3>Dante</h3>

<h2>Diseño:</h2>
<h3>Zarek</h3>
<h3>Zarek</h3>
<h3>Dante</h3>

<h2>Desarrollo:</h2>
<h3>Zarek</h3>
<h3>Dante</h3>
<h3>Dante</h3>

<h2>Direccion:</h2>
<h3>Zarek</h3>
<h3>Dante</h3>

<h2>Actuacion:</h2>
<h3>Gandalf - Gandalf</h3>

<h2>Testing:</h2>
<h3>noah</h3>
<h3>martin</h3>

<h2>Produccion:</h2>
<h3>Binker</h3>

<h2>Banda sonora:</h2>
<h3>kevin mcleod</h3>
<h3>serugiran</h3>
