<h1>MAS</h1>
<p>Al abrir la puerta te encuentras a Binker. "Minimo cuatro salas", te dice. Quedas confundido y una trampilla se abre debajo tuyo. Caes a la parte del fondo del labo donde hay otra cerradura mas.</p>
<form action='@Url.Action("Habitacion")'>

    <input type="text" name="clave">
    <input type="hidden"name="sala"value="3">
    <input type="submit" value="probar">

</form>

<p style="color:red">@ViewBag.incorrecto</p>