<h1>EL CIDI</h1>
<p>Click! El codigo es correcto. La puerta se abre y sales al CIDI. Uno de tus compañeros esta caido en el piso. Che<i class="secreto">que</i>as su pulso y parece estar desmayado. Tambien tiene olor a de<i class="secreto">so</i>dorante. No logras despertarlo despues de varios intentos asi que le deseas suerte y sigues caminando. Otra <i>cerradura</i> esta en la puerta para salir.</p>
<form action='@Url.Action("Habitacion")'>

    <input type="text" name="clave">
    <input type="hidden"name="sala"value="1">
    <input type="submit" value="probar">

</form>

<p style="color:red">@ViewBag.incorrecto</p>