<h1>test</h1>
<p>estas en Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque convallis nunc nec mattis. Nunc enim risus, maximus commodo arcu id, imperdiet egestas nibh. Morbi volutpat sagittis vestibulum. Proin ac commodo metus, ut consequat leo. Mauris in condimentum est, sit amet tincidunt risus. Suspendisse mollis tempor diam aliquam laoreet. Nullam at nisi tincidunt tortor ornare finibus. Donec id enim a augue egestas porta in nec tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum ex ut euismod egestas. Morbi hendrerit lobortis augue nec tempor.</p>
<img src="https://campus.ort.edu.ar/static/archivos/usuarioperfil/88915" alt="imagen" width="100%" height="10%">


<form action='@Url.Action("Habitacion", "Home")'>

    <input type="text" name="clave"> 
    <input type="number"name="sala"value="0"style="display:none">
    <input type="submit" value="probar">

</form>

<p style="color:red">@ViewBag.incorrecto</p>

<a href='@Url.Action("Carta")'> prueba</a>