<h1>MAS</h1>
<p>Al abrir la puerta te encuentras a Binker. "Minimo cuatro salas", te dice. Quedas confundido y una trampilla se abre debajo tuyo. Caes a la parte del fondo del labo donde hay otra cerradura mas. "no podras pasar" dice gandalf.</p>
<img src="https://miro.medium.com/v2/resize:fit:1200/1*sZALxd8v3ByiaFdIhMrYHA.jpeg" alt="" height="300px">
<form action='@Url.Action("Habitacion")'>

    <input type="text" name="clave">
    <br>
    <input type="hidden"name="sala"value="3">
    <input type="submit" value="probar">

</form>


<p style="color:red">@ViewBag.incorrecto</p>

<div id="pasardiv">
    <a id="pasar" href='@Url.Action("Pasar")'>pasar</a>
</div>