<div class="pistas">
<button onclick="alert('Mirá las ventilaciones')"> Pista 1 </button>
<button onclick="alert('Tenes que usar el cifrado Cesar en el codigo que esta en el pizarrón..')"> Pista 2 </button>
</div>
<h1>AMI</h1>

<p>Te quedaste programando el TP05 hasta tarde y cuando te diste cuenta todo el mundo se habia ido; estas sola/o. Las luces estan apagadas y la puerta esta cerrada. Te acercas a una de las computadoras que dice: "Escapa mientras puedas, Object reference not set to an instance of an object te esta buscando." La puerta tiene un teclado que acepta cuatro caracteres. Parece que esta conectado a la cerradura.</p>
<div >
    <div id="habitacionImagen">
        <img src="~/imgs/ami.jpg" alt="imagen" >
        <p id="clave">XIOE</p>
        <a href='@Url.Action("Carta")' id="cart">
            <img id=carta src="~/imgs/carta.png" alt="carta" width="300px">
    </a>
    </div>
</div>

<form action='@Url.Action("Habitacion", "Home")'>

    <input type="text" name="clave"> 
    <input type="hidden"name="sala"value="0">
    <br>
    <input type="submit" value="probar">

</form>

<p style="color:red">@ViewBag.incorrecto</p>

<audio id="musicademiedo" controls autoplay>
  
  <source src="~/mp3/Metaphysik.mp3" type="audio/mpeg">
su navegador no tiene soporte para audio
</audio>
