<button onclick="alert('Programá.....')"> Pista 1 </button>
<button onclick="alert('Dale, programá......')"> Pista 2 </button>
<h1>La puerta</h1>
<p>La contraseña es incorrecta asi que decides usar el matafuegos para romper la puerta. Bajas las escaleras y encuentras que la puerta de ort tambien esta cerrada. Sigues el cable de la cerradura hasta oty donde hay una computadora encendida, conectada al cable.</p>
<div><img src="~/imgs/pchp.png" alt="compu" width="70%">
<form action='@Url.Action("Habitacion")'>

    <input id="habit2" type="text" name="clave">
    <input type="hidden"name="sala"value="2">
    <input type="submit" value="probar">

</form>
</div>
<p style="color:red">@ViewBag.incorrecto</p>
<audio id="musicademiedo" controls autoplay>
  
  <source src="~/mp3/Metaphysik.mp3" type="audio/mpeg">
su navegador no tiene soporte para audio
</audio>
