<p>Derrotas a gandalf y te dice "me has derrotado..... el secreto para escapar es re complicado.... asi que escucha bien:"</p>
<p>Aplica cifrado cesar a la palabra "cañete", con un cambio de cada letra siguiendo la secuencia de fibonacci (1, 1, 2, 3..). </p>
<p>"que complicado" pensas. Te das cuenta lo complicado que es. "suerte" dice gandalf, y se va.</p>
<br>
<a href='@Url.Action("VolverGandalf")'>Volver</a>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv1DggkIzTk5pPPbR-T_YTHwXe9MyZI66fyQ&usqp=CAU" alt="gandalf">


