@{
    ViewData["Title"] = "tutorial";
}

<h1>Bienvenido a sala de escape: INFO</h1>

<h2>En este juego intentaras escapar de info ort cuanto antes...</h2>
<h2>pero ten cuidado de que no se te acabe el tiempo...</h2>
<h2>Jugar es simple, solo tienes que resolver los enigmas e introducir el codigo de cuatro digitos correcto. Todas las imagenes son clickeables.</h2>
<h2>pero ten cuidado... una vez que empiezas tienes que terminar...</h2>
<h4>¿Que estas esperando?</h4>
<a href='@Url.Action("Inicio")'>JUGAR</a>
<h4>¿Miedo?</h4>
<a href='@Url.Action("Index")'>volver</a>