<h1>HAS ESCAPADO</h1>
<p>Se abre la puerta y sales a la calle. Es de dia y todos los alumnos entran a ort. Es Jueves, tenes programacion. Subis al cidi.</p>
<a href='@Url.Action("Creditos")'>ver creditos</a>