html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 100px 20px;
}

footer{
background-color: black;
font-size: 20px;
color: white;
width: 100%;
height: 100px;
position: absolute;
left: 0;
bottom: 0%;
}

footer p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: comic sans ms;
  margin: 0%;
  height: 100%;
  width: 100%;
  font-weight: 100;
  font-size: 25px;
}


img{
  all: unset;
  height: 1000px;
  width: 100%;
}